@{
    Layout = null;
    var isAuthenticated = User.Identity.IsAuthenticated;
    var userName = isAuthenticated ? User.Identity.Name : "Guest";
}
<!DOCTYPE html>
<html>

<head>
    <!-- Basic -->
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <!-- Mobile Metas -->
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <!-- Site Metas -->
    <meta name="keywords" content="" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <link rel="shortcut icon" href="~/Font-End/images/fevicon.png" type="">

    <title> MQ Parking </title>

    <!-- bootstrap core css -->
    <link rel="stylesheet" type="text/css" href="~/Font-End/css/bootstrap.css" />

    <!-- fonts style -->
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700;900&display=swap" rel="stylesheet">

    <!--owl slider stylesheet -->
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css" />

    <!-- font awesome style -->
    <link href="~/Font-End/css/font-awesome.min.css" rel="stylesheet" />

    <!-- Custom styles for this template -->
    <link href="~/Font-End/css/style.css" rel="stylesheet" />
    <!-- responsive style -->
    <link href="~/Font-End/css/responsive.css" rel="stylesheet" />

</head>

<body>

    <div class="hero_area">
        <!-- header section starts -->
        <header class="header_section">
            <div class="header_top">
                <div class="container-fluid ">
                    <div class="contact_nav">
                        <a href="tel:0344427010">
                            <i class="fa fa-phone" aria-hidden="true"></i>
                            <span>
                                Call : 0344427010
                            </span>
                        </a>
                        <a href="mailto:minhle.28062003@gmail.com">
                            <i class="fa fa-envelope" aria-hidden="true"></i>
                            <span>
                                Email : minhle.28062003@gmail.com
                            </span>
                        </a>
                        <a href="#">
                            <i class="fa fa-map-marker" aria-hidden="true"></i>
                            <span>
                                Location
                            </span>
                        </a>
                    </div>
                </div>
            </div>
            <div class="header_bottom">
                <div class="container-fluid">
                    <nav class="navbar navbar-expand-lg custom_nav-container ">
                        <a class="navbar-brand" href="@Url.Action("Index", "Home")">
                            <span>
                                MQ Parking
                            </span>
                        </a>

                        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                            <span class=""> </span>
                        </button>

                        <div class="collapse navbar-collapse" id="navbarSupportedContent">
                            <ul class="navbar-nav ml-auto">
                                <li class="nav-item active">
                                    @Html.ActionLink("Trang chủ", "Index", "Home", new { area = "" }, new { @class = "nav-link" })
                                </li>
                                <li class="nav-item">
                                    @Html.ActionLink("Đặt vé", "Booking", "Home", new { area = "" }, new { @class = "nav-link" })
                                </li>
                                <li class="nav-item">
                                    @Html.ActionLink("Giới thiệu", "About", "Home", new { area = "" }, new { @class = "nav-link" })
                                </li>
                                <li class="nav-item ">
                                    @Html.ActionLink("Liên hệ", "Contact", "Home", new { area = "" }, new { @class = "nav-link" })
                                </li>
                                @if (isAuthenticated)
                                {
                                    <li class="nav-item">
                                        <span class="nav-link">@userName</span>
                                    </li>

                                    <li class="nav-item">
                                        <a class="nav-link" href="@Url.Action("Logout", "Account")">Đăng xuất</a>
                                    </li>
                                   
                                }
                                else
                                {
                                    <li class="nav-item">
                                        @Html.ActionLink("Đăng nhập", "Login", "Account", new { area = "" }, new { @class = "nav-link" })
                                    </li>
                                    <li class="nav-item">
                                        @Html.ActionLink("Đăng ký", "Register", "Account", new { area = "" }, new { @class = "nav-link" })
                                    </li>
                                }
                            </ul>
                        </div>

                    </nav>
                </div>
            </div>
        </header>
        <!-- end header section -->
        <!-- slider section -->
        <section class="slider_section ">
            <div class="slider_bg_box">
                <img src="~/Font-End/images/slider-bg.jpg" alt="">
            </div>
            <div id="customCarousel1" class="carousel slide" data-ride="carousel">
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <div class="container ">
                            <div class="row">
                                <div class="col-md-7 ">
                                    <div class="detail-box">
                                        <h1>
                                            Chúng tôi cung cấp <br>
                                            Dịch vụ gửi xe tốt nhất
                                        </h1>
                                        <p>
                                            Hệ thống bãi giữ xe của chúng tôi được thiết kế để đảm bảo sự an toàn và tiện ích cho khách hàng. Với đội ngũ nhân viên chuyên nghiệp và kinh nghiệm, chúng tôi tập trung vào việc cung cấp một không gian lưu trữ xe an toàn và tiện lợi. Quý khách có thể hoàn toàn yên tâm khi sử dụng dịch vụ của chúng tôi, với sự đảm bảo về tính bảo mật và chất lượng. Chúng tôi luôn lắng nghe và cải tiến để đáp ứng mọi nhu cầu của khách hàng, để mang lại trải nghiệm tốt nhất cho mọi người.
                                        </p>
                                        @*<div class="btn-box">
                                        <a href="" class="btn1">
                                        Get A Quote
                                        </a>
                                        </div>*@
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <div class="container ">
                            <div class="row">
                                <div class="col-md-7 ">
                                    <div class="detail-box">
                                        <h1>
                                            Chúng tôi cung cấp<br>
                                            Dịch vụ gửi xe an toàn nhất
                                        </h1>
                                        <p>
                                            Hệ thống bãi giữ xe của chúng tôi được thiết kế để đảm bảo sự an toàn và tiện ích cho khách hàng. Với đội ngũ nhân viên chuyên nghiệp và kinh nghiệm, chúng tôi tập trung vào việc cung cấp một không gian lưu trữ xe an toàn và tiện lợi. Quý khách có thể hoàn toàn yên tâm khi sử dụng dịch vụ của chúng tôi, với sự đảm bảo về tính bảo mật và chất lượng. Chúng tôi luôn lắng nghe và cải tiến để đáp ứng mọi nhu cầu của khách hàng, để mang lại trải nghiệm tốt nhất cho mọi người.
                                        </p>
                                        @*<div class="btn-box">
                                        <a href="" class="btn1">
                                        Get A Quote
                                        </a>
                                        </div>*@
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <div class="container ">
                            <div class="row">
                                <div class="col-md-7 ">
                                    <div class="detail-box">
                                        <h1>
                                            Chúng tôi cung cấp  <br>
                                            Dịch vụ gửi xe tiện lợi nhất
                                        </h1>
                                        <p>
                                            Hệ thống bãi giữ xe của chúng tôi được thiết kế để đảm bảo sự an toàn và tiện ích cho khách hàng. Với đội ngũ nhân viên chuyên nghiệp và kinh nghiệm, chúng tôi tập trung vào việc cung cấp một không gian lưu trữ xe an toàn và tiện lợi. Quý khách có thể hoàn toàn yên tâm khi sử dụng dịch vụ của chúng tôi, với sự đảm bảo về tính bảo mật và chất lượng. Chúng tôi luôn lắng nghe và cải tiến để đáp ứng mọi nhu cầu của khách hàng, để mang lại trải nghiệm tốt nhất cho mọi người.
                                        </p>
                                        @*<div class="btn-box">
                                        <a href="" class="btn1">
                                        Get A Quote
                                        </a>
                                        </div>*@
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <ol class="carousel-indicators">
                    <li data-target="#customCarousel1" data-slide-to="0" class="active"></li>
                    <li data-target="#customCarousel1" data-slide-to="1"></li>
                    <li data-target="#customCarousel1" data-slide-to="2"></li>
                </ol>
            </div>

        </section>
        <!-- end slider section -->
    </div>

    <section class="info_section layout_padding2">
        <div class="container">
            <div class="row">
                <div class="col-md-6 col-lg-3 info_col">
                    <div class="info_contact">
                        <h4>
                            Address
                        </h4>
                        <div class="contact_link_box">
                            <a href="#">
                                <i class="fa fa-map-marker" aria-hidden="true"></i>
                                <span>
                                    Location
                                </span>
                            </a>
                            <a href="tel:0344427010">
                                <i class="fa fa-phone" aria-hidden="true"></i>
                                <span>
                                    Call 0344427010
                                </span>
                            </a>
                            <a href="mailto:minhle.28062003@gmail.com">
                                <i class="fa fa-envelope" aria-hidden="true"></i>
                                <span>
                                    minhle.28062003@gmail.com
                                </span>
                            </a>
                        </div>
                    </div>
                    <div class="info_social">
                        <a href="#">
                            <i class="fa fa-facebook" aria-hidden="true"></i>
                        </a>
                        <a href="#">
                            <i class="fa fa-twitter" aria-hidden="true"></i>
                        </a>
                        <a href="#">
                            <i class="fa fa-linkedin" aria-hidden="true"></i>
                        </a>
                        <a href="#">
                            <i class="fa fa-instagram" aria-hidden="true"></i>
                        </a>
                    </div>
                </div>
                <div class="col-md-6 col-lg-3 info_col">
                    <div class="info_detail">
                        <h4>
                            Info
                        </h4>
                        <p>
                            Chúng tôi cung cấp dịch vụ gửi xe tốt nhất
                        </p>
                    </div>
                </div>
                <div class="col-md-6 col-lg-2 mx-auto info_col">
                    <div class="info_link_box">
                        <h4>
                            Links
                        </h4>
                        <div class="info_links">
                            <a class="active" href="index.html">
                                <img src="images/nav-bullet.png" alt="">
                                Trang chủ
                            </a>
                            <a class="" href="about.html">
                                <img src="images/nav-bullet.png" alt="">
                                Đặt vé
                            </a>
                            <a class="" href="service.html">
                                <img src="images/nav-bullet.png" alt="">
                                Giới thiệu
                            </a>
                            <a class="" href="contact.html">
                                <img src="images/nav-bullet.png" alt="">
                                Liên hệ
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-3 info_col ">
                    <h4>
                        Subscribe
                    </h4>
                    <form action="#">
                        <input type="text" placeholder="Enter email" />
                        <button type="submit">
                            Subscribe
                        </button>
                    </form>
                </div>
            </div>
        </div>
    </section>

    <!-- jQery -->
    <script type="text/javascript" src="~/Font-End/js/jquery-3.4.1.min.js"></script>
    <!-- popper js -->
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous">
    </script>
    <!-- bootstrap js -->
    <script type="text/javascript" src="~/Font-End/js/bootstrap.js"></script>
    <!-- owl slider -->
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js">
    </script>
    <!-- custom js -->
    <script type="text/javascript" src="~/Font-End/js/custom.js"></script>
    <!-- Google Map -->
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCh39n5U-4IoWpsVGUHWdqB6puEkhRLdmI&callback=myMap">
    </script>
    <!-- End Google Map -->

</body>

</html>
